<div class="body">
  <div class="nav-bar">
    <button mat-raised-button routerLink="/bubble-sort">Bubble Sort</button>
    <button mat-raised-button routerLink="/merge-sort">Merge Sort</button>
    <button mat-raised-button routerLink="/quick-sort">Quick Sort</button>
    <button mat-raised-button routerLink="/insertion-sort">
      Insertion Sort
    </button>
    <button mat-raised-button routerLink="/selection-sort">
      Selection Sort
    </button>
    <button mat-raised-button routerLink="/counting-sort">Counting Sort</button>
    <button mat-raised-button routerLink="/heap-sort">Heap Sort</button>
    <button mat-raised-button routerLink="/radix-sort">Radix Sort</button>
    <button mat-raised-button routerLink="/pigeonhole-sort">
      PigeonHole Sort
    </button>
    <button mat-raised-button routerLink="/shell-sort">Shell Sort</button>
    <button mat-raised-button routerLink="/bucket-sort">Bucket Sort</button>
    <button mat-raised-button routerLink="/comb-sort">Comb Sort</button>

    <button mat-raised-button routerLink="/cycle-sort">Cycle Sort</button>
  </div>
</div>
