<div class="body">
  <h1>Bubble Sort</h1>
  <div class="content">
    Jest to jeden z prostszych algorytmów sortowania. Sprawdzamy całą tablicę od
    końca, jeżeli trafimy na parę elementów, w której większy poprzedza mniejszy
    to zamieniamy je miejscami. Po przejściu całej tablicy znów zaczynamy
    przeszukiwać tą tablicę od końca. Czynność powtarzamy tak długo aż podczas
    sprawdzania całej tablicy, nie zajdzie ani jedna zamiana elementów.
    Realizuje się to najczęściej za pomocą zmiennej logicznej. Algorytm nosi
    nazwę bąbelkowego, gdyż najmniejsze liczby "wypływają" z dołu tablicy na jej
    szczyt, podobnie jak bąbelki powietrza w wodzie.
  </div>
  <mat-card class="pseudocode">
    <mat-card-header>
      <mat-card-title>Code in JS</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <textarea class="code" readonly [(ngModel)]="value"></textarea>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [cdkCopyToClipboard]="value">COPY</button>
      <button mat-button>
        <a href="https://stackblitz.com/edit/js-rdbalb?file=index.js">TRY IT</a>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
