<div class="body">
  <h1>Selection Sort</h1>
  <div class="content">
    Metoda ta nazywana jest sortowaniem przez wymianę gdyż na początku szukany
    jest najmniejszy element, po znalezieniu go jest on zamieniany z pierwszym
    elementem tablicy. Następnie szukany jest znów najmniejszy element, ale
    począwszy od elementu drugiego (pierwszy - najmniejszy jest już wstawiony na
    odpowiednie miejsce), po jego znalezieniu jest on zamieniany z drugim
    elementem. Czynność tą powtarzamy kolejno na elementach od trzeciego,
    czwartego, aż do n-tego.
  </div>
  <mat-card class="pseudocode">
    <mat-card-header>
      <mat-card-title>Code in JS</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <textarea class="code" readonly>
  &lt;script&gt; 
  function swap(arr,xp, yp) {
    var temp = arr[xp];
    arr[xp] = arr[yp];
    arr[yp] = temp;}
 
function selectionSort(arr,  n) {
    var i, j, min_idx;
 
    for (i = 0; i < n-1; i++) {
        min_idx = i;
        for (j = i + 1; j < n; j++)
        if (arr[j] < arr[min_idx])
            min_idx = j;
        swap(arr,min_idx, i);}}
 
function printArray( arr,  size){
    var i;
    for (i = 0; i < size; i++)
        document.write(arr[i] + " ");
    document.write(" <br>");}
 
    var arr = [64, 25, 12, 22, 11];
    var n = 5;
    selectionSort(arr, n);
    document.write("Sorted array: <br>");
    printArray(arr, n);
    &lt;/script&gt;</textarea
      >
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>COPY</button>
      <button mat-button>TRY IT</button>
    </mat-card-actions>
  </mat-card>
</div>
